body{
    font-family: Montserrat;
    margin: 0px;
}
.flexible-container{
    display: flex;}
#recipe2{
    margin-right: 6%;
    margin-left: 6%;
    }
.top-section{
   margin: 0px;
    width: 50%;
    text-align: justify;
    padding: 60px 10px 60px 60px;
    font-size: 25px;
}
.middle-section{
    text-align: center;
    padding:150px 100px 0px 100px;
    width: 50%;}
.about-us{
    width: 50%;
    padding: 180px 100px 0px 100px;
    text-align: left;}
.gap{
    padding-top: 5%;
}
.top-section img{
    padding-top: 10%;
    width: 80%;
}
h1{ color: rgb(102, 99, 99);
    font-size: 40px;
    font: weight 500px;
}
p{
    color: gray;
}
#skip-color{
    color: #f8593d;
}
.order-link{
    background-image: linear-gradient(to left, #fa3917, #ffc16f);
    color: white;
    text-decoration: none;
    padding: 17px 40px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 3px 3px 20px 3px  #f3b992;
}
#middle-bg{
    background-image: url(images/7.png); margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
#recipe{
    text-align: center;
    margin-top: 100px;
    padding-right: 300px;
    padding-left: 300px;}

.widthclass3 {
        width: 30%;
        border: 10px solid white;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%);
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 50px;
        padding: 10px 10px 0px 10px;
    }
#social-data{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 10px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 90px 120px 100px 120px;
}
.data{
    padding-left: 130px;
    padding-right: 130px;
}
#footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
#last-line{
    color: white;
}
#f-network{
    font-size: 30px;
    font-weight: 600;
}